/* Reset time! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Me stuff */
:root{
  --primary-color: #f5f5f5;
  --background-color:#191821;
  --impact-color: #ff0051;
  --primary-font: 'Jacquard 12', Courier, monospace;
  --secondary-font: 'New Rocker', Courier, monospace;
}

body{
  color: var(--primary-color);
  background-image: url("./assets/bg.jpg");
  background-color: var(--background-color);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--primary-font);
  margin: 20px;
}


.header{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.title{
  letter-spacing: .15em;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
  font-size: 2.5em;
}

.greeting{
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2.2s;
  font-size: 2em;
}

.dramaText{
  color: var(--impact-color);
}

/* Library */
.library {
  opacity: 0;
  position: relative;
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas: 
  "main main main main main"
  "main main main main main" 
  ". . register . .";
  border: 1px solid var(--impact-color);
  border-radius: 8px;
  background-color: var(--background-color);
  padding: 10px;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3.2s;
  min-height: 200px;
  max-height: 500px;
}

.library::before {
  opacity: 1;
  content: "";
  pointer-events: none;
}

.mainArea{
  grid-area: main;
  display: grid;
  
}

/* Register */

#registerButton{
  grid-area: register;
  font-family: var(--secondary-font);
  font-size: 1.3em;
  background-color: var(--impact-color);
  padding: 6px 20px;
  font-size: 1.6em;
  cursor: pointer;
}

#popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

#popupContent{
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "titleForm closeButton"
  "registerForm registerForm";
  background-color: var(--background-color);
  border: 1px solid var(--impact-color);
  padding: 2em;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
  animation: fadeInMove 0.3s ease;
}

#titleForm{
  grid-area: titleForm;
  letter-spacing: .15em;
  font-size: 2.5em;
  grid-area: titleForm;
}

#confirmButton{
  font-family: var(--secondary-font);
  font-size: 1.3em;
  opacity: 1;
  background-color: var(--impact-color);
  padding: 6px 20px;
  font-size: 1.6em;
}

#closeButton {
  grid-area: closeButton;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100000;
  cursor: pointer;
  font-size: 50px;
}

#registerForm {
  grid-area: registerForm;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;
}

input{
  font-family: var(--secondary-font);
  background-color: var(--background-color);
  color: var(--primary-colorasa);
  border: 1px solid var(--impact-color);
  border-radius: 2px;
  font-size: 1.2em;
  margin: 0px;
  padding: 10px 5px
}

/* Keyframes for the animation
Fade in effect */
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeInMove {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOutMove {
  from { opacity: 1; transform: translateY(0px); }
  to { opacity: 0; transform: translateY(20px); }
}